.navbar{
  background-color:  #333;
  color: white !important;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.navbar-title{
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-right: 400px;
}

.navbar-link{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

.navbar-link:hover{
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;
}
.img{
  
}

@media screen and (max-width: 768px){
  .navbar{
    flex-direction: column;
    align-items: start;
  }

  .navbar-links-container{
    display: flex;
    flex-direction: column;
  }

  .navbar-link{
    margin: 10px 0;
  }

  .navbar-link:hover{
    background-color: #fff;
    padding: 0;
    border-radius: 5px;
    transition: 0.3s;
  }

  .navbar-user-container{
    margin-top: 10px;
  }
}

.navbar-image{
  height: 50px;
}
